# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.hypothesis/

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# Environment variables
.env

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db